# Игнорировать все файлы
*.pdf
*.spec

# Игнорировать все папки, заканчивающиеся на "out"
*out/

# Игнорировать папку dist
dist/

# Игнорировать папку build
build/

# Игнорировать виртуальную среду .venv
.venv/

# Игнорировать файл .env с конфиденциальными данными
.env

