# Игнорировать файлы
*.pdf
*.spec
*.log


# Игнорировать файл .env с конфиденциальными данными
.env


# Игнорировать папки
dist/
build/
.venv/
*out/


# Иисключаем всю папку .idea, кроме файлов, которые могут быть полезны для совместной работы команды
.idea/*
!.idea/codeStyles
!.idea/runConfigurations
!.idea/important_settings.xml


# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.Python
.venv/
venv/
env/
ENV/

# OS / editors
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

# Logs / temporary files
*.log
*.tmp
*.bak
*.backup





